rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }
    function isAdmin() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/technicians/$(request.auth.uid)).data.role == 'admin';
    }
    function isAssignedToSite(siteId) {
      return isSignedIn() &&
        request.auth.uid in get(/databases/$(database)/documents/sites/$(siteId)).data.assignedTo;
    }

    match /technicians/{uid} {
      allow read: if isSignedIn() && (request.auth.uid == uid || isAdmin());
      allow write: if isAdmin();
    }

    match /technicianLookup/{techNumber} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /sites/{siteId} {
      allow read: if isAdmin() || (isSignedIn() && request.auth.uid in resource.data.assignedTo);
      allow write: if isAdmin();
    }

    match /equipment/{eqId} {
      allow read, update, delete: if isAdmin() || (isSignedIn() && isAssignedToSite(resource.data.siteId));
      allow create: if isAdmin() || (isSignedIn() && isAssignedToSite(request.resource.data.siteId));
    }
  }
}
